@import '../constants';

.graph-card {
    height: 100%;
}

md-toolbar {
    :not(.md-menu-toolbar) {
        .graph-card-header {
            background-color: $primary;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            padding: 5px 15px 10px;
        }
    }
}

.graph-svg {
    height: 100%;
    width: 100%;
}

.tick {
    line {
        stroke: $grey;
    }
}

.graph-title {
    font-size: 13pt;
    text-align: center;
}

.graph-message {
    display: none;
}
