@import '../constants';

.graph-card {
    height: 100%;
}

md-toolbar {
    &:not(.md-menu-toolbar) {
        &.graph-card-header {
            background-color: $primary;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            padding: 5px 15px 10px;
        }
    }
}

.tick {
    line {
        stroke: $grey;
    }

    text {
        fill: $dark-grey;
    }
}

.graph-container {
    height: 350px;
}

.graph-message {
    display: none;
}

.graph-message-display {
    background-color: $light-yellow;
    color: $dark-grey;
    display: block;

    h3 {
        margin: 0;
        padding: 20px;
    }
    margin: 0;
}
