@import '../constants';

.warning-message {
    display: none;
}

md-toolbar {
    :not(.md-menu-toolbar) {
        .stream-card-header {
            background-color: $primary;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            padding-left: 15px;
            padding-top: 10px;
        }
    }
}

.stream-card-content {
    background-color: $white;
    border: 4px;
    overflow: hidden;
    padding: 10px 15px;
}

.stream-card {
    background-color: $white;
}

.stream-list {
    padding: 0 10px 10px;
}

.md-button {
    &.md-default-theme {
        &.md-primary {
            &.md-raised {
                &.stream-edit-button {
                    background-color: $primary;
                    color: $white;
                    float: right;
                }

                &.stream-save-button {
                    background-color: $primary;
                    color: $white;
                    float: right;
                }
            }
        }
    }
}

.input-container {
    margin: 0;
    padding-top: 10px;
}

.stream-cancel-button {
    background-color: $primary;
    float: right;
    padding-top: 10px;
}
