<md-card stream-card md-theme="default">
  <div flex>
    <!--Encases entire layout in material card container-->

    <md-toolbar class="stream-card-header demo-toolbar md-primary">
      <h3 class="stream-card-header-text">Stream Information</h3>
      <!--"toolbar" used as card header-->
    </md-toolbar>
    <md-content class="stream-card-content md ">
      <!-- under header, define text content defined as medium -->
      <div class="alert alert-warning warning-message" id="warning-message"> </div>
      <md-list class="stream-list">
        <div class="row">
          <div ng-if="!editing">
            <md-list class="stream-list">
              <md-list-item>
                <h5>ID:</h5> <span flex></span>
                <h5>{{stream.id}}</h5>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item>
                <h5>Name:</h5> <span flex></span>
                <h5>{{stream.name}}</h5>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item>
                <h5>Description</h5> <span flex></span>
                <h5>{{stream.description}}</h5>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item>
                <h5>Minimum Value:</h5> <span flex></span>
                <h5>{{stream.min_value}}</h5>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item>
                <h5>Maximum Value</h5> <span flex></span>
                <h5>{{stream.max_value}}</h5>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item>
                <h5>Sensor Name:</h5> <span flex></span>
                <h5>{{stream.sensor}}</h5>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item ng-repeat="path in stream.paths">
                <h5>Paths:</h5> <span flex></span>
                <h5>{{path.url}}</h5>
              </md-list-item>
              <md-divider></md-divider>
            </md-list>

            <md-button class="stream-edit-button md-raised md-primary md-ink-ripple" ng-click="EditFields()">
              <span class="ng-scope" /> Edit
              <div class="md-ripple-container"></div>
            </md-button>
          </div>
          <div ng-if="editing">
            <div class="info-static">{{stream.id}}</div>
            <div class="info-edit">
              <input ng-model="stream.name" value="{{stream.name}}" />
            </div>
            <div class="info-edit">
              <input ng-model="stream.description" value="{{stream.description}}" />
            </div>
            <div class="info-edit">
              <input ng-model="stream.min_value" value="{{stream.min_value}}" />
            </div>
            <div class="info-edit">
              <input ng-model="stream.max_value" value="{{stream.max_value}}" />
            </div>
            <div class="info-static">{{stream.sensor}}</div>
            <div ng-repeat="path in stream.paths">
              <div class="info-edit">
                <input ng-model="path.url" />
              </div>
            </div>
            <button type="button " class="btn btn-sm" ng-click="AddPath()">
                            <span class="glyphicon glyphicon-plus" />
          </button>
          </div>
        </div>
      </md-list>

      <div ng-if="editing">
        <md-button class="stream-save-button md-raised md-primary md-ink-ripple" ng-click="SaveFields()">
          <span class="ng-scope" /> Save
          <div class="md-ripple-container"></div>
        </md-button>

        <md-button class="stream-cancel-button" ng-click="CancelFields()">
          <span class="ng-scope" /> Cancel
          <div class="md-ripple-container"></div>
        </md-button>
      </div>

    </md-content>
  </div>
</md-card>

<!-- </div> -->
