$shadowone: rgba(0, 0, 0, .12);
$shadowtwo: rgba(0, 0, 0, .24);

.main {
    margin-top: 60px;
}

.card {
    box-shadow: 0 1px 3px $shadowone, 0 -1px 3px $shadowone, 0 1px 2px $shadowtwo;
    margin-bottom: 10px;
    padding: 10px;
    transition: all .2s ease-in-out;
}
