.time-card {
    height: 100%;
}

.ADMdtp-box {
    box-shadow: 1px 4px 12px rgba(0,0,0,.12), -1px 4px 12px rgba(0,0,0,.12) !important;
}

.button-container {
    margin-top: 10px;
    display: inline-block;
    float: right;
}

.quick-time-container {
    display: inline-block;
    width: 100%;
}
