@import '../constants';

// .time-card {
//     height: 100%;
// }

.time-card-content {
    background-color: $white;
    border: 4px;
    overflow: hidden;
    padding: 10px 10px 10px 15px;
}

.time-card-header {
    background-color: $primary;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding-left: 15px;
}

.submit-button {
    color: $primary;
    float: right;
    padding-left: 10px;
    padding-top: 20px;
}
