$blue: rgb(16, 108, 200);
$white: rgb(16, 108, 200);

.sensor-card-header {
    background-color: $blue;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 10px 10px 10px 15px;
}

.sensor-card-content {
    background-color: $white;
    border: 4px;
    overflow: hidden;
    padding: 10px 10px 10px 15px;
}

.sensor-tab-content {
    padding: 10px;
}

.edit-fields {
    margin-top: 7px;
}

.config-edit-button {
    float: right;
}

.config-save-button {
    float: right;
}

.config-cancel-button {
    float: right;
}

.new-data-input {
    margin-top: 7px;
}
