@import '../constants';

.sensor-card {
    visibility: hidden;
}

.sensor-card-header {
    background-color: $blue;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding-left: 10px 10px 10px 15px;
}

.sensor-card-content {
    background-color: $white;
    border: 4px;
    overflow: hidden;
    padding: 10px 10px 10px 15px;
}

.sensor-tab-content {
    padding: 10px;
}

.config-button {
    float: right;
}

.new-data-input {
    margin-top: 7px;
}
