@import '../constants';

.sensor-card {
    align-items: stretch;
}



.sensor-tab-content {
    padding: 10px;
}

.edit-fields {
    margin-top: 7px;
}

.md-button {
                    background-color: $primary;
                    color: $white;
                    float: right;
                }



.sensor-card-content {
    background-color: $white;
    border: 4px;
    overflow: hidden;
    padding: 10px 10px 10px 15px;
}

.config-cancel-button {
    float: right;
}

.config-button {
    background-color: $primary;
    float: right;
}

.edit-button {
    padding-top: 10px;
}

.new-data-input {
    margin-top: 7px;
}
