<div class="container-fluid">
    <navbarcomponent></navbarcomponent>
    <div class="row main">
        <div class="col-md-3 left-col">
            <div class="row">
                <div class="col-md-12 left-col">
                    <!--  time controls-->
                    <timecomponent></timecomponent>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 left-col">
                    <!-- tree controls -->
                    <treecomponent></treecomponent>
                </div>
            </div>
        </div>
        <div class="col-md-9 right-col">
            <div class="row">
                <div class="col-md-12 right-col">
                    <!--  graph  -->
                    <graphcomponent></graphcomponent>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 right-col left-col">
                    <streamcomponent></streamcomponent>
                </div>
                <div class="col-md-6 right-col">
                    <sensorcomponent></sensorcomponent>
                </div>
            </div>
        </div>
    </div>
</div>
