<div class="card">
    <div ng-controller="timeController">
        <div class="row">
            <div class="col-md-3">
                Start time
            </div>
            <div class="col-sm-9">
                <div class="form-group">
                    <input type="text" class="form-control" id="start-time-picker" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                End time
            </div>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="end-time-picker" />
            </div>
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="col-md-12">
                <button class="btn btn-primary" ng-click="SubmitDates()" style="float: right">Submit</button>
            </div>
        </div>
    </div>
</div>
