<md-card class="tree-card">
  <md-toolbar class="tree-card-header demo-toolbar md-primary">
    <h3 class="tree-card-header-text">Search</h3>
  </md-toolbar>
    <div class="alert hidden" id="tree-message"> </div>
    <md-content class="tree-content">
        <div class="col-md-11">
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{searchFilter}}<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="dropdown-btn" ng-click="searchFilter = 'Stream'">Stream</div>
                        </li>
                        <li>
                            <div class="dropdown-btn" ng-click="searchFilter = 'Sensor'">Sensor</div>
                        </li>
                        <li>
                            <div class="dropdown-btn" ng-click="searchFilter = 'Folder'">Folder</div>
                        </li>
                    </ul>
                </div>
                <input type="text" class="form-control" ng-model="searchWords" ng-change="searchInput()" aria-label="..." placeholder="Search..." />
            </div>
        </div>
        <div class="col-md-11 tree-container">
            <div id="my-tree"></div>
          </div>
    </md-content>
</md-card>
