@import '../constants';

.tree-card {
  height: 100%;
}

.tree-container {
  padding: 15px;
}

.dropdown-btn {
  clear: both;
  display: block;
  font-weight: 400;
  line-height: 1.42;
  padding: 3px 20px;
  white-space: nowrap;
}

// &:hover {
//   background-color: $blue;
//   cursor: pointer;
// }

.tree-card-header {
  background-color: $primary;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding-left: 15px;
}

.tree-content {
  padding: 10px;
}
